@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@font-face {
  font-family: "Muli";
  src: url("fonts/Muli/Muli.eot");
  src: url("fonts/Muli/Muli.eot") format("embedded-opentype"), url("fonts/Muli/Muli.woff") format("woff"), url("fonts/Muli/Muli.ttf") format("truetype"), url("fonts/Muli/Muli.svg#PFDinTextProMedium") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muli-SemiBold";
  src: url("fonts/Muli-SemiBold/Muli-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  src: url("fonts/Muli/Muli.eot");
  src: url("fonts/Muli/Muli.eot") format("embedded-opentype"), url("fonts/Muli/Muli.woff") format("woff"), url("fonts/Muli/Muli.ttf") format("truetype"), url("fonts/Muli/Muli.svg#PFDinTextProMedium") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muli-SemiBold";
  src: url("fonts/Muli-SemiBold/Muli-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Muli";
  color: #565656;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button,
input {
  outline: none;
}

.slick-dots li button::before {
  font-size: 12px;
  opacity: 1;
  color: #565656;
}

.slick-dots li.slick-active button::before {
  opacity: 1;
  color: #FEC562;
}

.preHeader {
  background: #0F6871;
}

.preHeader__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.preHeader__list-element {
  color: #ffffff;
  text-align: center;
}

.preHeader__list-element .preHeader__list-element-svg {
  fill: #ffffff;
  margin-top: 5px;
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.preHeader__list-element .preHeader__list-element-svg:hover {
  fill: #FEC562;
}

.preHeader__list-element--facebook .b {
  fill: #0F6871;
}

@media (max-width: 400px) {
  .preHeader__list-element {
    font-size: 12px;
    line-height: 18px;
  }
}

.preHeader__list-element + .preHeader__list-element {
  margin-left: 20px;
}

@media (max-width: 400px) {
  .preHeader__list-element + .preHeader__list-element {
    margin-left: 10px;
  }
}

.language__flag {
  width: 25px;
  margin-top: 2px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.language__flag:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.language__flag.language__active {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.header {
  -webkit-box-shadow: 0px 3px 6px #0000000D;
          box-shadow: 0px 3px 6px #0000000D;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0;
}

.header__inner-without {
  margin-bottom: 0;
}

.logo {
  color: #9D9D9D;
  font-family: "Muli-SemiBold";
  font-size: 25px;
  line-height: 36px;
}

.logo span {
  color: #1BA7B6;
}

@media (max-width: 480px) {
  .logo {
    font-size: 18px;
    line-height: 24px;
  }
}

.menu {
  margin-left: auto;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1050px) {
  .header__list {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 50px;
    background: rgba(218, 218, 218, 0.7);
    z-index: 1000;
    overflow: auto;
    opacity: 0;
    top: -1100px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .header__list.active-header {
    top: 50px;
    opacity: 1;
  }
  .header__list.active-header .header__list-element {
    margin-left: 0;
  }
  .header__list.active-header .header__list-element:hover .header__list-link {
    color: #1BA7B6;
  }
}

.header__list-link--listing {
  padding: 14px 30px;
  border: 2px solid #177C87;
  border-radius: 26px;
  color: #177C87;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-left: 25px;
}

.header__list-link--listing:hover {
  background-color: #177C87;
  color: #ffffff !important;
}

@media (max-width: 660px) {
  .header__list-link--listing {
    padding: 8px 16px;
  }
}

.header__list-link:hover {
  color: #1BA7B6;
}

.header__list-link.chosen {
  color: #1BA7B6;
}

.header__list-element {
  cursor: pointer;
}

.header__list-element + .header__list-element {
  margin-left: 55px;
}

@media (max-width: 1150px) {
  .header__list-element + .header__list-element {
    margin-left: 30px;
  }
}

.header__list-element--login {
  margin-left: 25px;
}

@media (max-width: 1050px) {
  .header__list-element {
    display: block;
    padding: 70px 0;
    text-align: center;
    color: #1BA7B6;
  }
}

.icon {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
  z-index: 150;
}

.icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #1BA7B6;
  border-radius: 9px;
  left: 0;
  -webkit-transition: rotate(0deg);
  transition: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.icon span:nth-child(1) {
  top: 0;
}

.icon span:nth-child(2), .icon span:nth-child(3) {
  top: 13px;
}

.icon span:nth-child(4) {
  top: 26px;
}

@media (max-width: 1050px) {
  .icon {
    display: inline-block;
  }
}

.menu-button {
  background: none;
  border: none;
  color: #1BA7B6;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.user-menu {
  position: relative;
  margin-left: 25px;
}

.dropdown-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: #fff;
  width: 144px;
  z-index: 2;
  text-align: center;
}

.dropdown-menu a, .dropdown-menu button {
  color: #1BA7B6;
  cursor: pointer;
  width: 100%;
  padding: 5px 17px;
  font-size: 16px;
  line-height: 24px;
}

.dropdown-menu a:hover, .dropdown-menu button:hover {
  color: #ffffff;
  background-color: #1BA7B6;
}

.dropdown-menu button {
  background: none;
  border: none;
}

.dropdown-menu.dropdown-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@font-face {
  font-family: "Muli";
  src: url("fonts/Muli/Muli.eot");
  src: url("fonts/Muli/Muli.eot") format("embedded-opentype"), url("fonts/Muli/Muli.woff") format("woff"), url("fonts/Muli/Muli.ttf") format("truetype"), url("fonts/Muli/Muli.svg#PFDinTextProMedium") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muli-SemiBold";
  src: url("fonts/Muli-SemiBold/Muli-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Muli";
  color: #565656;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button,
input {
  outline: none;
}

.slick-dots li button::before {
  font-size: 12px;
  opacity: 1;
  color: #565656;
}

.slick-dots li.slick-active button::before {
  opacity: 1;
  color: #FEC562;
}

@font-face {
  font-family: "Muli";
  src: url("fonts/Muli/Muli.eot");
  src: url("fonts/Muli/Muli.eot") format("embedded-opentype"), url("fonts/Muli/Muli.woff") format("woff"), url("fonts/Muli/Muli.ttf") format("truetype"), url("fonts/Muli/Muli.svg#PFDinTextProMedium") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muli-SemiBold";
  src: url("fonts/Muli-SemiBold/Muli-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Muli";
  color: #565656;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button,
input {
  outline: none;
}

.slick-dots li button::before {
  font-size: 12px;
  opacity: 1;
  color: #565656;
}

.slick-dots li.slick-active button::before {
  opacity: 1;
  color: #FEC562;
}

.preHeader {
  background: #0F6871;
}

.preHeader__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.preHeader__list-element {
  color: #ffffff;
  text-align: center;
}

.preHeader__list-element .preHeader__list-element-svg {
  fill: #ffffff;
  margin-top: 5px;
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.preHeader__list-element .preHeader__list-element-svg:hover {
  fill: #FEC562;
}

.preHeader__list-element--facebook .b {
  fill: #0F6871;
}

@media (max-width: 400px) {
  .preHeader__list-element {
    font-size: 12px;
    line-height: 18px;
  }
}

.preHeader__list-element + .preHeader__list-element {
  margin-left: 20px;
}

@media (max-width: 400px) {
  .preHeader__list-element + .preHeader__list-element {
    margin-left: 10px;
  }
}

.language__flag {
  width: 25px;
  margin-top: 2px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.language__flag:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.language__flag.language__active {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.header {
  -webkit-box-shadow: 0px 3px 6px #0000000D;
          box-shadow: 0px 3px 6px #0000000D;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0;
}

.header__inner-without {
  margin-bottom: 0;
}

.logo {
  color: #9D9D9D;
  font-family: "Muli-SemiBold";
  font-size: 25px;
  line-height: 36px;
}

.logo span {
  color: #1BA7B6;
}

@media (max-width: 480px) {
  .logo {
    font-size: 18px;
    line-height: 24px;
  }
}

.menu {
  margin-left: auto;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1050px) {
  .header__list {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 50px;
    background: rgba(218, 218, 218, 0.7);
    z-index: 1000;
    overflow: auto;
    opacity: 0;
    top: -1100px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .header__list.active-header {
    top: 50px;
    opacity: 1;
  }
  .header__list.active-header .header__list-element {
    margin-left: 0;
  }
  .header__list.active-header .header__list-element:hover .header__list-link {
    color: #1BA7B6;
  }
}

.header__list-link--listing {
  padding: 14px 30px;
  border: 2px solid #177C87;
  border-radius: 26px;
  color: #177C87;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-left: 25px;
}

.header__list-link--listing:hover {
  background-color: #177C87;
  color: #ffffff !important;
}

@media (max-width: 660px) {
  .header__list-link--listing {
    padding: 8px 16px;
  }
}

.header__list-link:hover {
  color: #1BA7B6;
}

.header__list-link.chosen {
  color: #1BA7B6;
}

.header__list-element {
  cursor: pointer;
}

.header__list-element + .header__list-element {
  margin-left: 55px;
}

@media (max-width: 1150px) {
  .header__list-element + .header__list-element {
    margin-left: 30px;
  }
}

.header__list-element--login {
  margin-left: 25px;
}

@media (max-width: 1050px) {
  .header__list-element {
    display: block;
    padding: 70px 0;
    text-align: center;
    color: #1BA7B6;
  }
}

.icon {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
  z-index: 150;
}

.icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #1BA7B6;
  border-radius: 9px;
  left: 0;
  -webkit-transition: rotate(0deg);
  transition: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.icon span:nth-child(1) {
  top: 0;
}

.icon span:nth-child(2), .icon span:nth-child(3) {
  top: 13px;
}

.icon span:nth-child(4) {
  top: 26px;
}

@media (max-width: 1050px) {
  .icon {
    display: inline-block;
  }
}

.menu-button {
  background: none;
  border: none;
  color: #1BA7B6;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.user-menu {
  position: relative;
  margin-left: 25px;
}

.dropdown-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: #fff;
  width: 144px;
  z-index: 2;
  text-align: center;
}

.dropdown-menu a, .dropdown-menu button {
  color: #1BA7B6;
  cursor: pointer;
  width: 100%;
  padding: 5px 17px;
  font-size: 16px;
  line-height: 24px;
}

.dropdown-menu a:hover, .dropdown-menu button:hover {
  color: #ffffff;
  background-color: #1BA7B6;
}

.dropdown-menu button {
  background: none;
  border: none;
}

.dropdown-menu.dropdown-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1640px;
  padding: 0 25px;
}

.footer {
  background: #0F6871;
}

.footer__inner {
  padding: 50px 0 104px;
}

.footer__icons {
  margin-bottom: 40px;
  border-top: 1px solid #1BA7B6;
  position: relative;
}

.footer__icons .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  background-color: #0F6871;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer__icons-element-link {
  color: #ffffff;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 18px;
}

.footer__list-element {
  color: #ffffff;
  text-align: center;
  margin: 0 20px;
}

.footer__list-element svg {
  fill: #ffffff;
  margin-top: 5px;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer__list-element svg:hover {
  fill: #FEC562;
}

.footer__list-element--facebook .b {
  fill: #0F6871;
}

.footer__wrapper {
  max-width: 1202px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__wrapper-title {
  color: #ffffff;
  font: 600 18px/26px "Muli";
  margin-bottom: 25px;
}

.footer__wrapper-link {
  color: #ffffff;
  font: 400 16px/24px "Muli";
}

.footer__wrapper-list {
  margin-bottom: 25px;
  width: 200px;
}

@media (max-width: 500px) {
  .footer__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__navigation-element {
  margin-bottom: 20px;
}

.footer__navigation-link {
  font: 400 18px/26px "Muli";
  color: #FCFCFC;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Muli";
  color: #565656;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button,
input {
  outline: none;
}

.slick-dots li button::before {
  font-size: 12px;
  opacity: 1;
  color: #565656;
}

.slick-dots li.slick-active button::before {
  opacity: 1;
  color: #FEC562;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1640px;
  padding: 0 25px;
}

.input__image {
  margin-bottom: 40px;
  overflow: hidden;
  max-height: 500px;
}

.input__image img {
  width: 100%;
  display: block;
  height: 100%;
}

.openModal {
  border: none;
  padding: 15px 20px;
  background-color: #1BA7B6;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 160px;
  margin-left: 25px;
}

.form__content {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 83px;
}

@media (max-width: 1360px) {
  .form__content {
    max-width: 1100px;
  }
}

@media (max-width: 1070px) {
  .form__content {
    max-width: 900px;
  }
}

@media (max-width: 875px) {
  .form__content {
    max-width: 700px;
  }
}

.form__title {
  font: 700 30px/44px "Muli-SemiBold";
  margin-bottom: 40px;
  padding: 0 25px 0 50px;
  position: relative;
}

.form__title::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;
  height: 30px;
  width: 30px;
  background-image: url("../img/add-button.svg");
  background-repeat: no-repeat;
}

.wrapper__input__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 480px) {
  .wrapper__input__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.input__name {
  font: 400 25px/36px "Muli";
  margin-bottom: 30px;
}

.input__name::before {
  content: "*";
  color: #FEC562;
}

@media (max-width: 1400px) {
  .input__name {
    font: 400 20px/32px "Muli";
  }
}

@media (max-width: 1360px) {
  .input__name--long {
    margin-bottom: 0px;
  }
}

@media (max-width: 550px) {
  .input__name {
    font: 400 16px/24px "Muli";
  }
}

.input__block {
  margin-bottom: 40px;
  padding: 0 20px;
  width: 100%;
}

.input__block label {
  display: block;
  font: 300 16px/24px "Muli";
  color: #1BA7B6;
}

@media (max-width: 480px) {
  .input__block--businessHours {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.input__block--women-only {
  width: 50%;
}

@media (max-width: 1360px) {
  .input__block--women-only {
    width: 100%;
  }
}

.form__input {
  width: 643px;
  border: 1px solid #1BA7B6;
  border-radius: 10px;
  padding: 17px 22px;
}

.form__input--tags {
  max-width: 100%;
  width: 867px;
  padding: 17px 22px 38px;
}

.form__input--manual-tags {
  max-width: 419px;
  width: 100%;
  padding: 17px 22px 38px;
  position: relative;
  z-index: 5;
}

@media (max-width: 1360px) {
  .form__input {
    width: 500px;
  }
}

@media (max-width: 1070px) {
  .form__input {
    width: 400px;
  }
}

@media (max-width: 876px) {
  .form__input {
    width: 300px;
  }
}

@media (max-width: 676px) {
  .form__input {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .form__input {
    width: 100%;
  }
}

.form__text-area {
  max-width: 1345px;
  width: 100%;
  border: 1px solid #1BA7B6;
  height: 227px;
  border-radius: 10px;
  padding: 17px 22px;
  outline: none;
  resize: none;
}

.form__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 643px;
}

.form__select + .form__select {
  margin-left: 15px;
}

@media (max-width: 1280px) {
  .form__select + .form__select {
    margin-left: 0px;
  }
}

.form__select .options-container {
  max-height: 0;
  width: 643px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 8px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: 65px;
  border: 1px solid #c0c0c0;
  background-color: #fff;
  position: absolute;
  z-index: 100;
  text-align: center;
  border: 1px solid #1BA7B6;
  overflow: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.form__select .options-container--businessDay {
  max-width: 100px;
  margin-right: 10px;
}

.form__select .options-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

.form__select .options-container label {
  cursor: pointer;
  color: #828282 !important;
}

@media (max-width: 1360px) {
  .form__select .options-container {
    width: 500px;
  }
}

@media (max-width: 1070px) {
  .form__select .options-container {
    width: 400px;
  }
}

@media (max-width: 876px) {
  .form__select .options-container {
    width: 300px;
  }
}

@media (max-width: 676px) {
  .form__select .options-container {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .form__select .options-container {
    width: 80%;
  }
}

.form__select .selected {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  border: 1px solid #1BA7B6;
  border-radius: 10px;
  position: relative;
  margin-bottom: 15px;
  padding: 12px 16px;
  color: #828282;
}

.form__select .selected::after {
  content: '';
  position: absolute;
  background-image: url("../img/selectArrow.svg");
  background-repeat: no-repeat;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 26px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.form__select .selected--businessDay::after {
  content: '';
  position: absolute;
  background-image: url("../img/selectArrow.svg");
  background-repeat: no-repeat;
  height: 100%;
  width: 32px;
  right: 0px;
  top: 20px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.form__select .options-container.active {
  max-height: 240px;
  opacity: 1;
  margin-top: 65px;
}

.form__select .option, .form__select .selected {
  padding: 17px 24px;
  cursor: pointer;
}

.form__select .option--businessDay, .form__select .selected--businessDay {
  padding: 10px 11px;
}

.form__select .option:hover {
  background: #eeeaeafb;
}

.form__select .option:hover label {
  color: #1BA7B6 !important;
}

.form__select .option .radio {
  display: none;
}

.form__select .option label {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-align: center;
  margin-bottom: 0;
}

.form__select--businessDay {
  max-width: 100px;
  margin-right: 10px;
}

@media (max-width: 1360px) {
  .form__select {
    width: 500px;
  }
}

@media (max-width: 1070px) {
  .form__select {
    width: 400px;
  }
}

@media (max-width: 876px) {
  .form__select {
    width: 300px;
  }
}

@media (max-width: 676px) {
  .form__select {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .form__select {
    width: 100%;
  }
}

.business-element__time-input {
  padding: 10px 11px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  border: 1px solid #1BA7B6;
  border-radius: 10px;
  margin-right: 10px;
}

.business-element__time-input.business-element__time-input--disabled {
  pointer-events: none;
  border: 1px solid #c0c0c0;
}

.radio-check {
  cursor: pointer;
  padding-bottom: 5px;
  display: inline-block !important;
  vertical-align: middle;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  padding-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
}

.radio-check + .radio-check {
  margin-left: 20px;
}

@media (max-width: 875px) {
  .radio-check + .radio-check {
    margin-left: 0px;
  }
}

.radio-check input {
  display: none;
}

.radio-check span {
  height: 20px;
  width: 20px;
  border-radius: 15px;
  border: 3px solid #FEC562;
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
}

.radio-check span::after {
  content: '';
  height: 8px;
  width: 8px;
  background-color: #FEC562;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  border-radius: 50px;
  -webkit-transition: 300ms ease-in-out 0s;
  transition: 300ms ease-in-out 0s;
}

.radio-check input:checked ~ span::after {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

@media (max-width: 450px) {
  .radio-check {
    margin-right: 15px;
  }
}

.businessHours-list {
  margin-top: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 15px;
  display: none;
}

.businessHours-list.list-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.businessHours-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 550px;
  width: 100%;
  position: relative;
  margin-bottom: 25px;
}

@media (max-width: 480px) {
  .businessHours-element::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 35%;
    width: 107px;
    height: 1px;
    background-color: #c0c0c0;
  }
}

.businessHours-element.businessHours-element--disabled {
  text-decoration: line-through;
}

@media (max-width: 480px) {
  .businessHours-element {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.business__day {
  margin-right: 35px;
}

.to {
  margin-right: 10px;
}

.business__day--friday {
  margin-right: 55px;
}

.business__day--sunday {
  margin-right: 50px;
}

.business__day--wednesday {
  margin-right: 10px;
}

.socials-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 450px;
  margin-bottom: 25px;
}

.socials-element__input {
  border: 1px solid #1BA7B6;
  border-radius: 10px;
  padding: 12px 22px;
  width: 330px;
}

@media (max-width: 480px) {
  .socials-element__input {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .socials-element {
    max-width: 450px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .socials-element__input--wrapper {
    width: 100%;
  }
}

.socials__name {
  width: 80px;
}

@media (max-width: 480px) {
  .socials__name {
    margin-bottom: 10px;
  }
}

.videoUpload {
  width: 217px;
  max-height: 117px;
  border-radius: 15px;
  overflow: hidden;
  display: none;
}

.videoUpload #video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.videoUpload.video-active {
  display: block;
}

.business-form__btn {
  background: #FEC562;
  padding: 14px 48px;
  -webkit-box-shadow: 0px 0px 6px #00000029;
          box-shadow: 0px 0px 6px #00000029;
  border-radius: 26px;
  color: #ffffff;
  margin-left: 25px;
  border: none;
  cursor: pointer;
}

@media (max-width: 480px) {
  .business-form__btn {
    padding: 8px 24px;
    font-size: 12px;
    margin-left: 10px;
  }
}

.checkbox__container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 32px;
  color: #565656 !important;
  cursor: pointer;
}

.checkmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 13px;
  width: 15px;
  height: 15px;
  border: 2px solid #707070;
  border-radius: 4px;
  position: relative;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  cursor: pointer;
}

.checkmark::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 8px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateZ(40deg);
          transform: translate(-50%, -50%) rotateZ(40deg);
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.score__label {
  margin-bottom: 24px !important;
}

.checkmark-check:checked ~ .checkmark {
  background-color: #1BA7B6;
}

.checkmark-check:checked ~ .checkmark::after {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotateZ(40deg) scale(1);
          transform: translate(-50%, -50%) rotateZ(40deg) scale(1);
}

.bg-modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.bg-modal.opened {
  opacity: 1;
  pointer-events: auto;
}

.modal__close {
  width: 24px;
  height: 24px;
  font-size: 30px;
  font-weight: 900;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

.modal {
  margin: 0 25px;
  position: relative;
  width: 752px;
  height: 485px;
  background: white;
  padding: 20px;
}

.modal__title {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 12px;
  color: #3b405f;
}

.modal__text {
  color: #707070;
  margin-bottom: 40px;
}

.box-2 {
  margin-top: 40px;
  max-height: 200px;
}

.result {
  max-height: 200px;
}

.result img {
  width: 100%;
}

.fileLabel {
  border: none;
  padding: 15px 20px;
  background-color: #1BA7B6;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  border-radius: 10px;
  margin-right: 15px;
  width: 160px;
  display: block;
  cursor: pointer;
}

.save {
  border: none;
  padding: 15px 20px;
  margin-top: 20px;
  background-color: #c0c0c0;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 160px;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.save:hover {
  background-color: #FEC562;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=business-edit.css.map */